@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="banner-grids">
            <div class="col-md-6 jocket">
                <div class="jock-img">
                    <img src="~/Content/image/sht.jpg" alt="">
                </div>
                <div class="jock-text">
                    <h3 class="b-tittle">Men's Jacket</h3>
                    <a class="collection" href="single.html">View collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 shoe">
                <div class="shoe-img">
                    <img src="~/Content/image/shoe.jpg" class="img-responsive" alt="">
                </div>
                <div class="shoe-text">
                    <h3 class="b-tittle">Men's Shoes</h3>
                    <a class="collection" href="single.html">View collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                </div>
                <div class="clearfix"> </div>
                <div class="bottom-bags">
                    <div class="col-md-6 pack">
                        <div class="bag-text">
                            <h3 class="b-tittle">Bags</h3>
                            <a class="collection" href="single.html">View collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                        <div class="bag-img">
                            <img src="~/Content/image/bag.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                    <div class="col-md-6 glass">
                        <div class="glass-text">
                            <h3 class="b-tittle">Glasses</h3>
                            <a class="collection" href="single.html">View collection <i class="glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                        <div class="glass-img">
                            <img src="~/Content/image/glass.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>